/* .MuiButton-root{
    border-radius: 8px;
    margin: 0px;
    margin-bottom: 0px;
    width: max-content;
    background-color: #3B82F6 !important;
    box-shadow: 2px 3px 3px 3px;
    color: white !important;
    /* transition: background-color 0.3s;
    &:hover {
      background-color: black !important;
    } */
/* } */
.MuiInputBase-input{
   height: 0.4em !important;
}
.MuiInputBase-input{
   height: 0.4em !important;
}
.MuiOutlinedInput-root{
   height: 2.8em !important;
}
.css-51up1n-MuiButtonBase-root-MuiButton-root-MuiPickersToolbarButton-root{
   background-color: white !important;
}
/* .MuiButton-root:hover {
   box-shadow: 2px 3px 3px 3px;
   background-color: #4872b5  !important;
} */
/* .css-10rsvdf-MuiButtonBase-root-MuiButton-root:hover {
   box-shadow: 2px 3px 3px 3px;
   background-color: #4872b5  !important;
} */